.recently-listed-container {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 0.1rem solid var(--grey);
}
.upper-listed-tab {
  border-bottom: 0.1rem solid var(--dark-purple-3);
}
.listed-tabs {
  width: 100%;
  border-right: 0 !important;
  /* background: var(--primary-pink) !important; */
  color: var(--white);
}
.active-listed-tabs {
  color: var(--white);
  background: var(--primary-pink) !important;
  border-bottom: 0.15rem solid var(--white);
  width: 100%;
  border-right: 0 !important;
}
.listed-content {
  /* background-image: linear-gradient(to bottom, #ff47ff, #720072); */
  background: var(--black);
  padding: 0 !important;
}
@media screen and (max-width: 890px) {
  .recently-listed-container {
    width: 100%;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 525px) {
  .listed-tabs {
    font-size: 0.7rem;
  }
  .active-listed-tabs {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 405px) {
  .active-listed-tabs {
    font-size: 0.7rem;
    padding: 0.5rem;
  }
}
