.roadmap-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem 0rem;
  overflow: hidden;
}
.roadmap-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: var(--dark-purple);
  align-self: flex-start;
  margin-left: 39%;
}
.frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.div-block-22 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-left: 1px solid #aaa;
}
.div-block-24.done {
  margin-top: 20px;
  margin-left: 40px;
}
.div-block-24 {
  margin-top: 20px;
  margin-left: 40px;
  width: 100%;
}
.div-block-23 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.div-block-23 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.div-block-23 {
  max-width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.image-21 {
  margin-right: 15px;
}

.div-block-21 {
  position: absolute;
  left: -8px;
  top: 0px;
  right: auto;
  bottom: auto;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: var(--primary-pink);
}
.div-block-21.v2 {
  background-color: var(--primary-pink);
}
.div-block-23.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.div-block-23.vertical {
  width: 100%;
  max-width: 300px;
}
.heading-17 {
  position: relative;
  top: -5px;
  width: 100%;
  max-width: 250px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.heading-17.last {
  top: 0px;
  line-height: 15px;
}

@media screen and (max-width: 1075px) {
  .frame {
    width: 90%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 925px) {
  .frame {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .div-block-23 {
    margin: 1rem 0;
  }
  .roadmap-title {
    align-self: flex-start;
    margin-left: 35%;
  }
  .fourth-block {
    margin: 1rem 0;
  }
  .fourth-image {
    margin: 0 -39px;
  }
}
@media screen and (max-width: 740px) {
  .roadmap-title {
    margin-left: 30%;
  }
}
@media screen and (max-width: 572px) {
  .roadmap-title {
    margin-left: 25%;
  }
}
@media screen and (max-width: 496px) {
  .roadmap-title {
    margin-left: 20%;
  }
}
@media screen and (max-width: 350px) {
  .roadmap-title {
    margin-left: 15%;
  }
}
